@media only screen and (max-width: 500px) {

  img#huawei{
    width:100%;
  }
  img#hongruanif{
    width:100%;
  }
  img#hongruan{
    width:100%;
  }
  img#shangtang{
    width:100%;
  }
  img#youtu{
    width:100%;
  }
  img#daxiangyun{
    width:100%;
  }
  img#Gamesd{
    width:100%;
  }

}



img#huawei{

  width:294;
  height:auto;
}

img#hongruanif{
width:294;
height:auto;
}
